@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.core.data.References

@(refs: References)
@for(cit <- refs.citationString){
	@HtmlProperty{Citation}{@Html(cit)}
}
@for(cit <- refs.citationBibTex){
	@citationCollapsible("BibTex", cit)
}
@for(cit <- refs.citationRis){
	@citationCollapsible("RIS", cit)
}

@citationCollapsible(label: String, value: String) = {
	@HtmlProperty(Html("")){
		<details>
			<summary class="d-inline-block">
				<span class="btn-link" style="cursor:pointer;">@label</span>
			</summary>
			<div class="card bg-light">
				<div class="card-body">
					<pre class="user-select-all w-100 m-0">@value</pre>
				</div>
			</div>
		</details>
	}
}
