@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import se.lu.nateko.cp.meta.core.HandleProxiesConfig
@import se.lu.nateko.cp.meta.views.LandingPageExtras
@import se.lu.nateko.cp.viewscore.CpMenu
@import landpagesnips._

@(coll: StaticCollection, extras: LandingPageExtras, handleProxies: HandleProxiesConfig)(implicit envri: Envri.Value, conf: EnvriConfig)
@ServerSidePage(coll.title, "Collection Landing Page at Carbon Portal", envri, CpMenu.default){
	<div class="container-fluid">

		<div class="row">
			@Panel("Summary", 8, "success"){
				@PanelRow("Title", coll.title)
				@DoiPanelHtmlRow(coll.doi, handleProxies.doi)
				@PanelHtmlRow{Download URL}{
					<span><a target="_blank" href=@{staticCollAccessUrl(coll.res)}>@{coll.title + ".zip"}</a></span>
				}
				@PanelHtmlRow{Collection creator}{
					@agentLink(coll.creator)
				}
				@PanelHtmlRow{Previous version}{@versionLink(coll.previousVersion)}
				@PanelHtmlRow{Next version}{@versionLink(coll.nextVersion)}
			}
			@Panel("Metadata download", 4){
				@collMetaDownloadButton(coll, "JSON", "json")
				@collMetaDownloadButton(coll, "RDF/XML", "xml")
				@collMetaDownloadButton(coll, "RDF/Turtle", "ttl")
			}
			@Panel("Download count", 2){
				@extras.downloadStats.getOrElse("Not available")
			}
		</div>

		<div class="row">
			@Panel("Content", 12){
				@for(cit <- coll.references.citationString.orElse(extras.citation)){
					@PanelRow("Citation", cit)
				}
				@for(cit <- coll.references.citationBibTex){
					@CitationCollapsible("BibTex", cit)
				}
				@for(cit <- coll.references.citationRis){
					@CitationCollapsible("RIS", cit)
				}
				@for(description <- coll.description){
					@PanelRow("Description", description)
				}
				@PanelRow("Number of items", coll.members.size.toString)
				@for(item <- coll.members){
					@PanelHtmlRow{Item}{
						@staticDataItemLink(item)
					}
				}
			}
		</div>
	</div>
}

@staticDataItemLink(item: StaticDataItem) = {
	@item match {
		case PlainStaticObject(res, _, name) => {
			<a target="_blank" href=@{res}>@{name}</a>
		}
		case coll: StaticCollection => {
			<a target="_blank" href=@{coll.res}>@{coll.title}</a>
		}
	}
}
