@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import se.lu.nateko.cp.meta.core.HandleProxiesConfig
@import se.lu.nateko.cp.meta.views.LandingPageExtras
@import se.lu.nateko.cp.viewscore.CpMenu
@import landpagesnips._

@(coll: StaticCollection, extras: LandingPageExtras, handleProxies: HandleProxiesConfig)(implicit envri: Envri.Value, conf: EnvriConfig)
@ServerSidePage(coll.title, pageTitle, envri, CpMenu.default, headerExtra = Some(headerExtra)){
	<div class="row">
		@Panel("Summary", 8, "success"){
			@PanelRow("Title", coll.title)
			@DoiPanelHtmlRow(coll.doi, handleProxies.doi)
			@PanelHtmlRow{Download URL}{
				<span><a target="_blank" href=@{accessUrl}>@{coll.title + ".zip"}</a></span>
			}
			@PanelHtmlRow{Collection creator}{
				@agentLink(coll.creator)
			}
			@PanelHtmlRow{Previous version}{@versionLink(coll.previousVersion)}
			@PanelHtmlRow{Next version}{@versionLink(coll.nextVersion)}
		}
		<div class="col-md-4">
			<div class="row">
				@Panel("Metadata download", 12){
					@collMetaDownloadButton(coll, "JSON", "json")
					@collMetaDownloadButton(coll, "RDF/XML", "xml")
					@collMetaDownloadButton(coll, "RDF/Turtle", "ttl")
				}
				@Panel("Download count", 6){
					@extras.downloadStats.getOrElse("Not available")
				}
			</div>
		</div>
	</div>

	<div class="row">
		@Panel("Content", 12){
			@Citations(coll.references)
			@for(description <- coll.description){
				@PanelRow("Description", description)
			}
			@PanelRow("Number of items", coll.members.size.toString)
			@for(item <- coll.members){
				@PanelHtmlRow{Item}{
					@staticDataItemLink(item)
				}
			}
		}
	</div>
}

@accessUrl = @{staticCollAccessUrl(coll.res)}

@headerExtra = {
	<a class="btn btn-secondary" href="@accessUrl">Download</a>
}

@pageTitle = @{
	envri match {
		case Envri.SITES => "Collection Landing Page"
		case _ => "Collection Landing Page at Carbon Portal"
	}
}

@staticDataItemLink(item: StaticDataItem) = {
	@item match {
		case PlainStaticObject(res, _, name) => {
			<a target="_blank" href=@{res}>@{name}</a>
		}
		case coll: StaticCollection => {
			<a target="_blank" href=@{coll.res}>@{coll.title}</a>
		}
	}
}
