@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.core.EnvriConfig
@import java.net.URI
@import se.lu.nateko.cp.viewscore.CpMenu

@(coll: StaticCollection, citation: Option[String])(implicit envri: Envri.Value, conf: EnvriConfig)
@ServerSidePage(coll.title, "Collection Landing Page at Carbon Portal", envri, CpMenu.landingPage){
	<div class="container-fluid">

		<div class="row">
			@Panel("Summary", 4){
				@PanelRow("Title", coll.title)
				@DoiPanelHtmlRow(coll.doi)
				@PanelHtmlRow{Download URL}{
					<span><a target="_blank" href=@{downloadLink}>@{coll.title + ".zip"}</a></span>
				}
				@PanelHtmlRow{Collection creator}{
					@agentLink(coll.creator)
				}
			}
		</div>

		<div class="row">
			@Panel("Content", 6){
				@for(cit <- citation){
					@PanelRow("Citation", cit)
				}
				@for(description <- coll.description){
					@PanelRow("Description", description)
				}
				@for(item <- coll.members){
					@PanelHtmlRow{Item}{
						@staticDataItemLink(item)
					}
				}
			}
		</div>
	</div>
}

@agentLink(agent: Agent) = {
	<a href=@{agent.self.uri}>
		@agent match {
			case person: Person => {
				<span>@{person.firstName + " " + person.lastName}</span>
			}
			case org: Organization => {
				<span>@{org.name}</span>
			}
		}
	</a>
}


@staticDataItemLink(item: StaticDataItem) = {
	@item match {
		case PlainDataObject(res, _, name) => {
			<a target="_blank" href=@{res}>@{name}</a>
		}
		case coll: StaticCollection => {
			<a target="_blank" href=@{coll.res}>@{coll.title}</a>
		}
	}
}

@downloadLink = @{
	import akka.http.scaladsl.model.Uri

	def objHashes(coll: StaticCollection): Seq[String] = coll.members.flatMap{
		case PlainDataObject(_, hash, _) => Seq(hash.id)
		case inner: StaticCollection => objHashes(inner)
	}
	val objList = objHashes(coll).mkString("[\"", "\",\"", "\"]")
	val query = Uri.Query("ids" -> objList, "fileName" -> coll.title)
	Uri(conf.dataPrefix + "objects").withQuery(query).toString
}
