@import java.net.URI
@import java.time.Instant
@import se.lu.nateko.cp.meta.core.data.*
@import se.lu.nateko.cp.meta.core.HandleProxiesConfig
@import se.lu.nateko.cp.meta.views.LandingPageHelpers.{given,*}
@import se.lu.nateko.cp.meta.views.LandingPageExtras
@import se.lu.nateko.cp.meta.services.metaexport.SchemaOrg
@import se.lu.nateko.cp.meta.utils.rdf4j.*
@import se.lu.nateko.cp.meta.utils.*
@import landpagesnips.*

@(dobj: DataObject, extras: LandingPageExtras, handleProxies: HandleProxiesConfig)(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage(
	pageTitle,
	pageHeading,
	headerExtra = headerExtra,
	extraMetaTags = Some(schemaOrg),
	subHeading = pageSubHeading,
	breadcrumbs = Some(breadcrumbs(breadcrumbList)),
) {
	<div class="row py-2 gy-4">
		@if(dobj.nextVersion) {
			<div class="col-12">
				<div class="alert alert-warning">
					A newer version is available:
					@nextVersionLink(dobj.nextVersion)
				</div>
			</div>
		} else {}
		@if(uploadComplete) {} else {
			<div class="col-12">
				<div class="alert alert-warning">
					<h4 class="alert-heading">Upload incomplete</h4>
					<div>Metadata uploaded on @dobj.submission.start.getDateTimeStr. Data not uploaded. No PID assigned.</div>
				</div>
			</div>
		}
		@if(underMoratorium){
			<div class="col-12">
				<div class="alert alert-warning">
					<h4 class="alert-heading">Under moratorium</h4>
					@property(s"Will be available for download after (${conf.defaultTimezoneId})", dobj.submission.stop.getDateTimeStr)
				</div>
			</div>
		} else {}
		<div class="col-md-8">
			<div class="row gy-2">
			@doiProperty(dobj.doi, handleProxies.doi)
			@if(uploadComplete) {
				@pidProperty(dobj.pid, handleProxies.basic)
			} else {}
			@for(specComm <- dobj.specification.self.comments){
				@property("Description", specComm)
			}
			@for(l3meta <- dobj.specificInfo.left.toOption){
				@for(description <- l3meta.description){
					@property("Description", description)
				}
				@property(s"Temporal coverage from (${conf.defaultTimezoneId})", l3meta.temporal.interval.start.getDateTimeStr)
				@property(s"Temporal coverage to (${conf.defaultTimezoneId})", l3meta.temporal.interval.stop.getDateTimeStr)
				@for(resolution <- l3meta.temporal.resolution){
					@property("Temporal resolution", resolution)
				}
			}
			@resourceproperty("Data affiliation", dobj.specification.project.self)
			@for(coll <- dobj.parentCollections){
				@htmlProperty{Part of}{@resourceLink(coll)}
			}
			@for(ack <- dobj.references.acknowledgements.toSeq.flatten){
				@property("Acknowledgement", ack)
			}
			@citations(dobj.references)
			@if(dobj.previousVersion) {
				@htmlProperty{Previous version}{@previousVersionLink(dobj.previousVersion.flattenToSeq)}
			} else {}
			@property("File name", dobj.fileName)
			@for(size <- dobj.size){
				@property("File size", formatBytes(size))
			}
			@resourceproperty("Data type", dobj.specification.self)
			@property("Data level", dobj.specification.dataLevel.toString)

			@documentationLink(dobj.specification.documentation)

			@for(licence <- dobj.references.licence){
				@licenceProperty(licence)
			}

			@for(acquisition <- dobj.acquisition; station = acquisition.station){
				<h2 class="fs-3 mt-5">Acquisition</h2>
				@for(location <- acquisition.site.flatMap(_.location).flatMap(_.label)){
					@property("Location", location)
				}
				@agentproperty("Station", station.org)
				@if(dobj.production.flatMap(_.host).isEmpty){
					@for(responsibleOrganization <- station.responsibleOrganization){
						@agentproperty("Responsible organization", responsibleOrganization)
					}
				} else {}
				@for(site <- acquisition.site){
					@resourceproperty("Ecosystem", site.ecosystem)
				}
				@for(interval <- acquisition.interval){
					@property(s"Start time (${conf.defaultTimezoneId})", interval.start.getDateTimeStr)
					@property(s"Stop time (${conf.defaultTimezoneId})", interval.stop.getDateTimeStr)
				}
				@for(instrument <- acquisition.instruments){
					@resourceproperty("Instrument", instrument)
				}
				@for(height <- acquisition.samplingHeight){
					@property("Sampling height", height.toString)
				}
			}

			@for(production <- dobj.production){
				<h2 class="fs-3 mt-5">Production</h2>
				@agentproperty("File made by", production.creator)
				@for(host <- production.host){
					@agentproperty("Host organization", host)
				}
				@property(s"Production time (${conf.defaultTimezoneId})", production.dateTime.getDateTimeStr)
				@for(comment <- production.comment){
					@property("Comment", comment)
				}
				@if(production.contributors){
					@htmlProperty{Contributors}{
						@contributors(production.contributors)
					}
				} else {}
				@for(source <- production.sources.sorted){
					@resourceproperty("Source object", source.asUriResource)
				}
				@for(doc <- production.documentation){
					@resourceproperty("Documentation", doc.asUriResource)
				}
			}

			<br>

			@for(variables <- dobj.specificInfo.fold(_.variables, _.columns)){
				<h2 class="fs-3 mt-5">Previewable variables</h2>
				<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Value type</th>
							<th>Unit</th>
							@if(envri != Envri.SITES){<th>Quantity kind</th>} else {}
						</tr>
					</thead>
					<tbody>
						@for(varInfo <- variables){
							<tr>
								<td>@(varInfo.label)</td>
								<td>@(varInfo.valueType.self.label.getOrElse(""))</td>
								<td>@(varInfo.valueType.unit.getOrElse(""))</td>
								@if(envri != Envri.SITES){<td>@(varInfo.valueType.quantityKind.flatMap(_.label).getOrElse(""))</td>} else {}
							</tr>
						}
					</tbody>
				</table>
				</div>
			}
			</div>

			<div class="row gy-2">
				<h2 class="fs-3 mt-5">Statistics</h2>
				@htmlProperty{Downloads}{
					@extras.downloadStats.getOrElse("Not available")
				}
				@if(dobj.isPreviewable){
					@htmlProperty{Previews}{
						@extras.previewStats.getOrElse("Not available")
					}
				} else {}
			</div>

			<div class="row gy-2">
				<h2 class="fs-3 mt-5">Submission</h2>
				@agentproperty("Submitted by", dobj.submission.submitter)
				@if(!uploadComplete) {
					@property(s"Submission started (${conf.defaultTimezoneId})", dobj.submission.start.getDateTimeStr)
				} else {
					@property(s"Publication time (${conf.defaultTimezoneId})", dobj.submission.stop.getDateTimeStr)
				}
			</div>

			<div class="row gy-2">
				<h2 class="fs-3 mt-5">Technical information</h2>
				@resourceproperty("Format", dobj.specification.format)
				@resourceproperty("Encoding", dobj.specification.encoding)
				@property("SHA-256 hashsum (hex)", dobj.hash.hex.toLowerCase)
				@property("SHA-256 hashsum (base64)", dobj.hash.base64)
			</div>
		</div>

		<div class="col-md-4">
			@card(12, "bg-light"){
				<div class="card-img-top">
					@defining(s"/objects/${dobj.hash.id}"){dobjLink =>
					<iframe src="/station/?icon=@icon&dobj=@dobjLink"></iframe>
					}
				</div>
			}{
				<div class="row gy-2">
					@for(sp <- dobj.acquisition.flatMap(_.samplingPoint)){
						@for(label <- sp.label){
							@property("Sampling point", label)
						}
						@property("Coordinates", sp.textSpecification)
					}
					@for(covText <- coverageText){ @property("Coverage", covText) }
					@for(acquisition <- dobj.acquisition; station = acquisition.station){
						@for(location <- acquisition.site.flatMap(_.location).flatMap(_.label)){
							@property("Location", location)
						}
						@agentproperty("Station", station.org)
					}
				</div>
			}

			<div class="row">
				@card(12, "bg-light"){@Html("")}{
					<div class="row gy-2">
						@htmlProperty{Metadata}{
							@objMetaDownloadButton(dobj, "JSON", "json") •
							@objMetaDownloadButton(dobj, "RDF/XML", "xml") •
							@objMetaDownloadButton(dobj, "RDF/Turtle", "ttl") •
							@objMetaDownloadButton(dobj, "XML (ISO 19115-3:2016)", "iso.xml")
						}
						@for(keywords <- dobj.keywords){
							@htmlProperty{Keywords}{
								@keywords.map(keyword(_))
							}
						}
					</div>
				}
			</div>

		</div>
	</div>

@*** uncomment for debug ****
	<div class="row">
		<div class="col-md-12">
			<label>Debug</label>
			<pre>@printToJson(dobj)</pre>
		</div>
	</div>
****************************@
}

@splitTitle = @{dobj.references.title.map(_.split(",")).getOrElse(Array(""))}
@pageHeading = @{
	if(splitTitle.size > 1)
		dobj.references.title.map(_.split(",").dropRight(1).mkString(",")).getOrElse(pageTitle)
	else
		dobj.references.title.getOrElse(pageTitle)
}
@pageSubHeading = @{
	if(splitTitle.size > 1) dobj.references.title.map(_.split(",").last) else None
}

@pageTitle = @{
	dobj.specificInfo.left.toOption.map(_.title)
		.getOrElse(dobj.fileName)
}

@resourceproperty(label: String, res: UriResource) = {
	@htmlProperty{@label}{
		@resourceLink(res)
	}
}

@agentproperty(label: String, agent: Agent) = {
	@htmlProperty{@label}{
		@agentLink(agent)
	}
}

@icon = @{dobj.specification.theme.markerIcon.map(_.toString).getOrElse("")}
@uploadComplete = @{dobj.size.isDefined}
@underMoratorium = @{uploadComplete && dobj.submission.stop.exists(_.compareTo(Instant.now()) > 0)}

@coverageText = @{
	dobj.coverage.map(_.textSpecification).filter(_.length < 200)
}

@headerExtra = @{
	if(dobj.accessUrl.isDefined && uploadComplete)
		Some(objPageHeaderExtra(dobj))
	else None
}

@schemaOrg = {
	<script type="application/ld+json">
		@Html(SchemaOrg.json(dobj, handleProxies).prettyPrint)
	</script>
}

@keyword(label: String) = {
	<span class="badge rounded-pill bg-secondary text-light">@{label}</span>
}

@contributors(contributors: Seq[Agent]) = {
	@for((c, i) <- contributors.sorted.zipWithIndex){@Html(contributor(c, i).body.trim())}
}

@contributor(contributor: Agent, i: Int) = {
	@if(i > 0){<span>, </span>} else {}
	<a href=@{contributor.self.uri.getRawPath}>@{agentString(contributor)}</a>
}

@breadcrumbList = @{
	Map(
		Envri.ICOS -> IndexedSeq(
			("Home", "https://www.icos-cp.eu/"),
			("Data & Services", "https://www.icos-cp.eu/data-services"),
			("ICOS Data Portal", s"//${conf.dataHost}/portal"),
		),
		Envri.SITES -> IndexedSeq(
			("Home", "https://www.fieldsites.se"),
			("Data catalogue", s"//${conf.dataHost}/portal"),
		)
	)
}
