@import java.net.URI
@import se.lu.nateko.cp.meta.api.OrganizationExtra
@import se.lu.nateko.cp.meta.core.data.*
@import se.lu.nateko.cp.meta.services.CpVocab
@import se.lu.nateko.cp.meta.utils.rdf4j.*
@import se.lu.nateko.cp.viewscore.CpMenu
@import se.lu.nateko.cp.meta.views.LandingPageHelpers.stationUriShortener
@import akka.http.scaladsl.model.Uri
@import landpagesnips.*

@(stExt: OrganizationExtra[Station], vocab: CpVocab)(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage(stationShortName(station), None, CpMenu.default){
	@for(cover <- station.org.webpageDetails.flatMap(_.coverImage)) {
	<div class="row cover-image position-relative" style="background: url(@{cover}) center/cover; height: 558px; margin-top: -2rem;">
		<div class="col">
				<h1 class="text-light text-center" style="margin-top: 8vw;">
					ICOS STATION<br><strong style="font-size: 5rem;">@{stationShortName(station)}</strong>
				</h1>
		</div>
	</div>
	}
	@for(descr <- station.org.self.comments){
	<div class="row">
		<div class="col-lg-8 mx-auto text-center lead my-5 py-5 fw-normal">
			@descr
		</div>
	</div>
	<div class="row justify-content-center bg-primary bg-opacity-10 py-5 text-primary">
		@for(cc <- icosSpecifics.flatMap(_.countryCode)){
			@quickfact(cc.displayCountry, "fa-map-marker-alt")
		}
		@for(alt <- station.location.flatMap(_.alt)){
			@quickfact(s"${alt.toInt} m", "fa-arrows-alt-v", Some{"Altitude"})
		}
		@for(temperature <- ecoSpecifics.flatMap(_.meanAnnualTemp)){
			@quickfact(s"$temperature °C", "fa-thermometer-empty", Some("Mean annual temperature"))
		}
		@for(meanAnnualPrecip <- etcSpecifics.flatMap(_.meanAnnualPrecip)){
			@quickfact(s"$meanAnnualPrecip mm", "fa-cloud-rain", Some("Mean annual precipitation"))
		}
	</div>
	}
	@for(boxes <- station.org.webpageDetails.flatMap(_.linkBoxes)) {
		@linkBoxes(boxes)
	}
	@if(station.fullCoverage.isEmpty) {} else {
		@defining(s"/station/?station=${station.org.self.uri.getRawPath}&icon=$icon") { maplink =>
			<div class="row my-5">
				<iframe src="@maplink" style="margin-top: 10px;"></iframe>
				<a href="@maplink">Open map</a>
			</div>
		}
	}
	<div class="row form-group mt-3">
		<div class="col-sm-8">
			<div class="row gy-2">
			@for(icos <- icosSpecifics){
				@if(icos.discontinued && (icos.labelingDate.isDefined || vocab.oceanTheme === icos.theme.fold[URI](null)(_.self.uri))){
					@property("Discontinued", "(former ICOS station)")
				} else {}
				@property("Station ID", station.id)
				@for(wigos <- wigosId){
					@property("WIGOS ID", wigos)
				}
				@for(cls <- icos.stationClass){
					@property("ICOS Station class", cls.toString)
				}
				@for(cc <- icos.countryCode){
					@property("Country code", cc.code)
				}
				@for(lblDate <- icos.labelingDate){
					@property("ICOS Labeling date", lblDate.toString)
				}
				@for(tz <- icos.timeZoneOffset){
					@property("Time zone offset", tz.toString)
				}
			}
			@for(eco <- ecoSpecifics){
				@for(climateZone <- eco.climateZone) {
					@htmlProperty{Climate zone}{@resourceLink(climateZone)}
				}
				@if(eco.ecosystems.isEmpty) {} else {
					@htmlProperty{@if(eco.ecosystems.length > 1){Main ecosystems} else {Main ecosystem}}{
						@for((ecoType, i) <- eco.ecosystems.zipWithIndex) {
							@if(i > 0) {<span> / </span>} else {}
							@resourceLink(ecoType)
						}
					}
				}
				@for(temperature <- eco.meanAnnualTemp) {
					@property("Mean annual temperature", s"$temperature °C")
				}
			}
			@for(eco <- etcSpecifics){
				@for(meanAnnualPrecip <- eco.meanAnnualPrecip){
					@property("Mean annual precipitation", s"$meanAnnualPrecip mm")
				}
				@for(meanAnnualRad <- eco.meanAnnualRad){
					@htmlProperty{Mean annual incoming SW radiation}{<span>@meanAnnualRad W/m<sup>2</sup></span>}
				}
				@for(doc <- eco.stationDocs){
					@htmlProperty{Documentation resource}{
						<a target="_blank" href=@doc>@{doc.toString}</a>
					}
				}
				@for(pub <- eco.stationPubs){
					@htmlProperty{Data publication}{
						<a target="_blank" href=@pub>@{pub.toString}</a>
					}
				}
			}
			@for(pos <- station.location){
				@property("Latitude/Longitude", s"${pos.lat}, ${pos.lon}")
				@for(alt <- pos.alt){
					@property("Elevation", s"${alt.toInt} m")
				}
			}
			@for(sites <- sitesSpecifics){
				@for(operationalPeriod <- sites.operationalPeriod) {
					@property("Operational period", operationalPeriod)
				}
			}
			@for(document <- stationDocs) {
				@htmlProperty{Documentation}{<a href=@{document.res.getRawPath}>@{document.name}</a>}
			}
			@for(org <- station.responsibleOrganization) {
				@htmlProperty{Organization}{
					<a href=@{org.self.uri.getRawPath}>@{org.name}</a>
				}
			}
			</div>
			@for(fundings <- station.funding){
				<h2 class="fs-3 mt-5">Acknowledgements</h2>
				<table class="table">
					<thead>
						<tr>
							<th>Funder</th>
							<th>Award number</th>
							<th>Award</th>
							<th>Start date</th>
							<th>End date</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
						@for(funding <- fundings){
							<tr>
								<td>@agentLink(funding.funder.org)</td>
								<td>@optLinkText(funding.awardNumber, funding.awardUrl)</td>
								<td>@optLinkText(funding.awardTitle, funding.awardUrl)</td>
								<td>@(funding.start.fold("")(_.toString))</td>
								<td>@(funding.stop.fold("")(_.toString))</td>
								<td>@{funding.self.comments.headOption.getOrElse("")}</td>
							</tr>
						}
					</tbody>
				</table>
			}
			@staff(stExt)
		</div>
	</div>
}

@station = @{stExt.org}

@portalLink = @{
	val stationUri = stationUriShortener(station.org.self.uri)
	Uri(s"https://${conf.dataHost}/portal/").withFragment(s"""{"filterCategories":{"station":["$stationUri"]}}""")
}

@stationShortName(station: Station) = @{
	val fullName = station.org.name
	envri match {
		case Envri.SITES => fullName.split(" ").head
		case _ => fullName
	}
}

@sitesSpecifics = @{
	Option(station.specificInfo).collect{
		case sites: SitesStationSpecifics => sites
	}
}

@ecoSpecifics = @{
	Option(station.specificInfo).collect{
		case eco: EcoStationSpecifics => eco
	}
}

@etcSpecifics = @{
	Option(station.specificInfo).collect{
		case eco: EtcStationSpecifics => eco
	}
}

@icosSpecifics = @{
	Option(station.specificInfo).collect{
		case icos: IcosStationSpecifics => icos
	}
}

@wigosId = @{
	Option(station.specificInfo).collect{
		case atc: AtcStationSpecifics => atc
	}.flatMap(_.wigosId)
}

@stationDocs = @{
	station.specificInfo match{
		case icos: IcosStationSpecifics => icos.documentation
		case sites: SitesStationSpecifics => sites.documentation
		case _ => Nil
	}
}

@icon = @{icosSpecifics.flatMap(_.theme).flatMap(_.markerIcon).getOrElse("")}

@optLinkText(text: Option[String], url: Option[URI]) = {
	@text match{
		case Some(text) => {
			@url match{
				case Some(url) => {
					<a href=@{url}>@{text}</a>
				}
				case None => {
					<span>@{text}</span>
				}
			}
		}
		case None => {
			<span></span>
		}
	}
}

@quickfact(value: String, icon: String, descr: Option[String] = None) = {
	<div class="col-3 col-md-2 p-3">
		<i class="fas @icon display-1"></i>
		<div class="fs-3 fw-semibold">@value</div>
		@for(descr <- descr){
			<div>@descr</div>
		}
	</div>
}