@import java.net.URI
@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.core.HandleProxiesConfig
@import se.lu.nateko.cp.meta.utils._
@import se.lu.nateko.cp.meta.views.LandingPageHelpers._
@import se.lu.nateko.cp.meta.views.LandingPageExtras
@import se.lu.nateko.cp.viewscore.CpMenu
@import landpagesnips._
@import se.lu.nateko.cp.meta.utils.urlEncode

@(doc: DocObject, extras: LandingPageExtras, handleProxies: HandleProxiesConfig)(implicit envri: Envri.Value, conf: EnvriConfig)
@ServerSidePage(doc.fileName, pageHeading, headerExtra = headerExtra, subHeading = Some("Document")){
	<div class="row py-2 gy-4">
		<div class="col-md-8">
			@if(doc.nextVersion) {
				<div class="alert alert-warning">
					A newer version is available:
					@nextVersionLink(doc.nextVersion)
				</div>
			}
			@if(!uploadComplete) {
				<div class="alert alert-warning">
					<h4 class="alert-heading">Incomplete upload</h4>
					<div>Metadata uploaded. Document not uploaded. No PID assigned.</div>
				</div>
			}
			<div class="row gy-2">
				@for(description <- doc.description){
					@property("Description", description)
				}
				@if(doc.references.title) {
					@property("File name", doc.fileName)
				}
				@doiProperty(doc.doi, handleProxies.doi)
				@if(uploadComplete) {
					@pidProperty(doc.pid, handleProxies.basic)
				}
				@if(doc.previousVersion) {
					@htmlProperty{Previous version}{@previousVersionLink(doc.previousVersion.flattenToSeq)}
				}
				@for(coll <- doc.parentCollections){
					@htmlProperty{Part of}{@resourceLink(coll)}
				}
				@citations(doc.references)
				@for(size <- doc.size){
					@property("File size", formatBytes(size))
				}
				@property("SHA-256 hashsum (hex)", doc.hash.hex.toLowerCase)
				@property("SHA-256 hashsum (base64)", doc.hash.base64)

				@for(licence <- doc.references.licence){
					@licenceProperty(licence)
				}

				<h2 class="fs-3 mt-5">Submission</h2>
					@htmlProperty{Submitted by}{
						@agentLink(doc.submission.submitter)
					}
					@property(s"Submission started (${conf.defaultTimezoneId})", doc.submission.start.getDateTimeStr)
					@property(s"Submission ended (${conf.defaultTimezoneId})", doc.submission.stop.getDateTimeStr)

				<h2 class="fs-3 mt-5">Statistics</h2>
				@htmlProperty{Downloads}{
					@extras.downloadStats.getOrElse("Not available")
				}
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				@card(12, "bg-light"){@Html("")}{
				<div class="row gy-2">
					@htmlProperty{Metadata}{
						@metaDownloadButton(doc.hash.id, doc.fileName, "JSON", "json") •
						@metaDownloadButton(doc.hash.id, doc.fileName, "RDF/XML", "xml") •
						@metaDownloadButton(doc.hash.id, doc.fileName, "RDF/Turtle", "ttl")
					}
				</div>
			}
			</div>
		</div>
	</div>
}

@pageHeading = @{
	doc.references.title.getOrElse(doc.fileName)
}

@accessUrl(link: URI) = {
	<a class="btn btn-secondary" href="@link">Download</a>
}

@headerExtra = @{
	if(uploadComplete)
		doc.accessUrl.map(url => accessUrl(url))
	else None
}

@uploadComplete = @{doc.submission.stop.isDefined}
