@import se.lu.nateko.cp.meta.core.data.Instrument
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import se.lu.nateko.cp.meta.core.data.Agent
@import se.lu.nateko.cp.meta.views.LandingPageHelpers.*
@import landpagesnips._
@import eu.icoscp.envri.Envri

@(instr: Instrument, errors: Seq[String])(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage(title, Some(title), subHeading = Some("Instrument")){
	<div class="row gy-2">
		<div class="col-md-8">
			<div class="row gy-2">
				@for(name <- instr.name) {
					@property("Name", name)
				}
				@property("Model", instr.model)
				@property("Serial number", instr.serialNumber)
				@for(vendor <- instr.vendor) {
					@htmlProperty{Vendor}(agentLink(vendor))
				}
				@for(owner <- instr.owner) {
					@htmlProperty{Owner}(agentLink(owner))
				}
				@for(part <- instr.parts) {
					@htmlProperty{Has component}(resourceLink(part))
				}
				@for(parent <- instr.partOf) {
					@htmlProperty{Is part of}(resourceLink(parent))
				}
				@for(comment <- instr.self.comments){
					@property("Comment", comment)
				}
				@if(!instr.deployments.isEmpty){
					<h2 class="fs-3 mt-5">Deployments</h2>
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>Variable name</th>
									<th>Variable metadata</th>
									<th>Station</th>
									<th>Latitude</th>
									<th>Longitude</th>
									<th>Sampling height</th>
									<th>@{s"Start time (${conf.defaultTimezoneId})"}</th>
									<th>@{s"Stop time (${conf.defaultTimezoneId})"}</th>
								</tr>
							</thead>
							<tbody>
								@for(depl <- instr.deployments){
									<tr>
										<td>@(depl.variableName.getOrElse(""))</td>
										<td>
											@for(varMeta <- depl.forProperty) {
												@resourceLink(varMeta)
											}
										</td>
										<td>@agentLink(depl.station)</td>
										@depl.pos.fold{
											<td></td><td></td><td></td>
										}{pos =>
											<td>@(pos.lat6)</td>
											<td>@(pos.lon6)</td>
											<td>
												@for(alt <- pos.alt){
													@(s"$alt m")
												}
											</td>
										}
										<td>@(depl.start.map(_.getDateTimeStr))</td>
										<td>@(depl.stop.map(_.getDateTimeStr))</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
			</div>
		</div>
	</div>
}

@title = @{
	instr.self.label.getOrElse("Instrument")
}