@import se.lu.nateko.cp.meta.core.data.Instrument
@import se.lu.nateko.cp.meta.core.data.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import se.lu.nateko.cp.viewscore.CpMenu
@import landpagesnips._

@(instr: Instrument)(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage(title, title, CpMenu.default, subHeading = Some("Instrument")){
	<div class="row gy-2">
		<div class="col-md-8">
			<div class="row gy-2">
				@for(name <- instr.name) {
					@property("Name", name)
				}
				@property("Model", instr.model)
				@property("Serial number", instr.serialNumber)
				@for(vendor <- instr.vendor) {
					@htmlProperty{Vendor}(agentLink(vendor))
				}
				@for(owner <- instr.owner) {
					@htmlProperty{Owner}(agentLink(owner))
				}
				@for(part <- instr.parts) {
					@htmlProperty{Has component}(resourceLink(part))
				}
				@for(parent <- instr.partOf) {
					@htmlProperty{Is part of}(resourceLink(parent))
				}
		
				<h2 class="fs-3 mt-5">Deployments</h2>
				<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Altitude</th>
							<th>Variable</th>
							<th>Start</th>
							<th>Stop</th>
						</tr>
					</thead>
					<tbody>
						@for(depl <- instr.deployments){
							<tr>
								<td>@(depl.pos.map(_.lat.toString))</td>
								<td>@(depl.pos.map(_.lon.toString))</td>
								<td>@(depl.pos.map(_.alt.getOrElse("").toString))</td>
								<td>@(depl.variable.getOrElse(""))</td>
								<td>@(depl.start.map(_.toString))</td>
								<td>@(depl.stop.map(_.toString))</td>
							</tr>
						}
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
}

@title = @{
	instr.self.label.getOrElse("Instrument")
}