
@(stationName: String, status: String, comment: Option[String])
@CpEmail("Labeling Step2 " + status){
	<table>
		<tr>
			<td style="font-size: 12pt;padding-bottom:20px;">Dear PI and RIcom,</td>
		</tr>
		<tr>
			<td style="font-size: 12pt">Step 2 of labeling of station @stationName has been @status by TC.</td>
		</tr>
		@for(comm <- comment){
			<tr>
				<td style="font-size: 12pt;"">
					<span>Application status comment: </span>
					<span style="font-style: italic;">@comm</span>
				</td>
			</tr>
		}
		</table>
}
