@CpCommonPage("Station labelling status - ICOS", bootstrapVersion = Some(5)){
	<style type="text/css">
		.cp-lnk:hover{
			cursor: pointer;
		}
		.cp-required-header::after{
			content: "*";
			color: red;
		}
		.cp-not-required-header{
			font-weight: 100;
		}
		.btn.cp-btn-gray {
			border: 1px solid #626e7f;
			background: rgb(119,119,119);
			color:white;
		}
		.btn.cp-btn-gray:hover {
			background: rgb(105,105,105);
		}
		h4:not(:first-child) {
			margin-top: 2rem;
		}
	</style>

	<script src="https://static.icos-cp.eu/constant/react/0.13.3/react.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/reflux/0.2.7/reflux.min.js"></script>
	<!--[if IE]>
	<script src="https://static.icos-cp.eu/constant/ajax/es6-promise/2.1.1/es6-promise.min.js"></script>
	<![endif]-->
	<script src="https://static.icos-cp.eu/constant/underscore.js/1.8.3/underscore-min.js"></script>
}{
	<div id="main"></div>
	<script src="labeling.js"></script>
}

