@import se.lu.nateko.cp.meta.core.data._
@import LandingPageHelpers._
@import java.net.URI
@import views.CpMenu

@(dobj: DataObject, handleService: URI)(implicit envri: Envri.Value)
@ServerSidePage(pageTitle, pageHeading(envri), envri, CpMenu.landingPage){
	<div class="container-fluid">

		<div class="row">
			@Panel("Summary", 12, summaryStyleContext){
				@if(uploadComplete) {
					@PanelRow("Status - OK", "Data and metadata are complete.")
					@PanelHtmlRow{PID}{
						@dobj.pid match{
							case None => {
								<span>Not assigned</span>
							}
							case Some(pid) => {
								<span>@{pid} (<a href=@{handleService.toString + pid}>link</a>)</span>
							}
						}
					}
					@accessUrlRow
				} else {
					@PanelRow("Status - Not complete", "Metadata uploaded. Data not uploaded. No PID assigned.")
				}
				@PanelHtmlRow{Data affiliation}{
					@affiliationInfo(dobj.affiliation)
				}
				@for(doi <- dobj.doi){
					@PanelHtmlRow{DOI}{
						<span>@{doi} (<a href=@{handleService.toString + doi}>link</a>)</span>
					}
				}
				@PanelHtmlRow{Previous version}{@versionLink(dobj.previousVersion)}
				@PanelHtmlRow{Next version}{@versionLink(dobj.nextVersion)}
			}
		</div>

		<div class="row">
			@Panel("Content", 12){
				@PanelRow("File name", dobj.fileName)
				@for(size <- dobj.size){
					@PanelRow("Size in bytes", size.toString)
				}
				@for(l3meta <- dobj.specificInfo.left.toOption){
					@PanelRow("Title", l3meta.title)
					@for(description <- l3meta.description){
						@PanelRow("Description", description)
					}
					@PanelRow("Temporal coverage from (UTC)", l3meta.temporal.interval.start.getDateTimeStr)
					@PanelRow("Temporal coverage to (UTC)", l3meta.temporal.interval.stop.getDateTimeStr)
					@for(resolution <- l3meta.temporal.resolution){
						@PanelRow("Temporal resolution", resolution)
					}
				}
				@resourcePanelRow("Specification", dobj.specification.self)
				@PanelRow("Data level", dobj.specification.dataLevel.toString)
				@resourcePanelRow("Format", dobj.specification.format)
				@resourcePanelRow("Encoding", dobj.specification.encoding)
				@PanelRow("SHA-256 hashsum (hex)", dobj.hash.hex.toLowerCase)
				@PanelRow("SHA-256 hashsum (base64)", dobj.hash.base64)
				@if(uploadComplete) {
					@accessUrlRow
				}
			}
		</div>

		<div class="row">

			@for(acquisition <- dobj.specificInfo.right.toOption.map(_.acquisition); station = acquisition.station){
				@Panel("Acquisition", 4){
					@agentPanelRow("Station", station.org)
					@for(interval <- acquisition.interval){
						@PanelRow("Start time (UTC)", interval.start.getDateTimeStr)
						@PanelRow("Stop time (UTC)", interval.stop.getDateTimeStr)
					}
					@for(instrument <- acquisition.instrument){
						@PanelRow("Instrument", instrument.getPath.split("/").last)
					}
					@for(height <- acquisition.samplingHeight){
						@PanelRow("Sampling height", height.toString)
					}
				}
			}

			@for(production <- dobj.production){
				@Panel("Production", 4){
					@agentPanelRow("File made by", production.creator)
					@for(contributor <- production.contributors){
						@agentPanelRow("Contributor", contributor)
					}
					@for(host <- production.host){
						@agentPanelRow("Host organization", host)
					}
					@PanelRow("Production dateTime (UTC)", production.dateTime.getDateTimeStr)
					@for(comment <- production.comment){
						@PanelRow("Comment", comment)
					}
				}
			}

			@Panel("Submission", 4){
				@agentPanelRow("Submitted by", dobj.submission.submitter)
				@PanelRow("Submission started (UTC)", dobj.submission.start.getDateTimeStr)
				@PanelRow("Submission ended (UTC)", dobj.submission.stop.getDateTimeStr)
			}
		</div>

		<div class="row">
			@Panel("Spatial coverage", 6){
				@for(covText <- coverageText){
					@PanelRow("Coverage", covText)
				}

				@for(coverage <- dobj.coverage; geoJson = coverage.geoJson){
					<iframe src="/station/?theme=@theme&coverage=@geoJson"></iframe>
				}
			}
		</div>

<!--
		<div class="row">
			<div class="col-md-12">
				<label>Debug</label>
				<pre>@printToJson(dobj)</pre>
			</div>
		</div>
-->
	</div>
}

@pageHeading(envri: Envri.Value) = @{
	dobj.affiliation match {
		case Icos => {
			"ICOS RI Data Object Landing Page"
		}
		case _ => envri match {
			case Envri.SITES => "SITES Data Object Landing Page"
			case _ => "Data Object Landing Page at Carbon Portal"
		}
	}
}

@pageTitle = @{
	dobj.specificInfo.left.toOption.map(_.title)
		.getOrElse(dobj.fileName)
}

@affiliationInfo(aff: DataAffiliation) = {
	@aff match {
		case Icos => {
			<span><strong>Official ICOS data</strong></span>
		}
		case OrgAffiliation(org) => {
			@agentLink(org)
		}
	}
}

@resourceLink(res: UriResource) = {
	<a href=@{res.uri.toString}>@{res.label.getOrElse(res.uri.toString)}</a>
}

@versionLink(vers: Option[URI]) = {
	@vers match{
		case None => {
			not available
		}
		case Some(uri) => {
			<a href=@{uri}>available</a>
		}
	}
}

@resourcePanelRow(label: String, res: UriResource) = {
	@PanelHtmlRow{@label}{
		@resourceLink(res)
	}
}

@agentLink(agent: Agent) = {
	<a href=@{agent.self.uri.toString}>
		@agent match {
			case person: Person => {
				<span>@{person.firstName + " " + person.lastName}</span>
			}
			case org: Organization => {
				<span>@{org.name}</span>
			}
		}
	</a>
}

@agentPanelRow(label: String, agent: Agent) = {
	@PanelHtmlRow{@label}{
		@agentLink(agent)
	}
}

@theme = @{dobj.theme.toString}
@uploadComplete = @{dobj.submission.stop.isDefined}
@summaryStyleContext = @{if(uploadComplete) "success" else "warning"}

@accessUrlRow = {
	@PanelHtmlRow{Access URL}{
		<span>
			@dobj.accessUrl match {
				case Some(url) => {
					<a target="_blank" href="@url">@{dobj.fileName}</a>
				}
				case None => {
					<span>Available on request</span>
				}
			}
		</span>
	}
}

@coverageText = @{
	dobj.coverage match{
		case None => None
		case Some(_: GeoTrack) | Some(_: GenericGeoFeature) => None
		case Some(geo) => Some(geo.textSpecification)
	}
}
