@import se.lu.nateko.cp.meta.core.data._
@import LandingPageHelpers._
@import views.CpMenu

@(dobj: DataObject)
@ServerSidePage("Landing Page", pageTitle, CpMenu.landingPage){
	<div class="container-fluid">

		<div class="row">
			@Panel("Summary", 4, summaryStyleContext){
				@if(uploadComplete) {
					@PanelRow("Status - OK", "Data and metadata are complete.")
					@PanelRow("PID", dobj.pid.getOrElse("Not assigned"))
					@accessUrlRow
				} else {
					@PanelRow("Status - Not complete", "Metadata uploaded. Data not uploaded. No PID assigned.")
				}
				@PanelHtmlRow{Data affiliation}{
					@affiliationInfo(dobj.affiliation)
				}
			}
		</div>

		<div class="row">
			@Panel("Content", 6){
				@for(fname <- dobj.fileName){
					@PanelRow("File name", fname)
				}
				@for(l3meta <- dobj.specificInfo.left.toOption){
					@PanelRow("Title", l3meta.title)
					@for(description <- l3meta.description){
						@PanelRow("Description", description)
					}
					@PanelRow("Temporal coverage from (UTC)", l3meta.temporal.interval.start.getDateTimeStr)
					@PanelRow("Temporal coverage to (UTC)", l3meta.temporal.interval.stop.getDateTimeStr)
					@for(resolution <- l3meta.temporal.resolution){
						@PanelRow("Temporal resolution", resolution)
					}
				}
				@resourcePanelRow("Specification", dobj.specification.self)
				@resourcePanelRow("Format", dobj.specification.format)
				@resourcePanelRow("Encoding", dobj.specification.encoding)
				@PanelRow("SHA-256 hashsum (hex)", dobj.hash.hex.toLowerCase)
				@PanelRow("SHA-256 hashsum (base64)", dobj.hash.base64)
				@if(uploadComplete) {
					@accessUrlRow
				}
			}
		</div>

		<div class="row">

			@for(acquisition <- dobj.specificInfo.right.toOption.map(_.acquisition); station = acquisition.station){
				@Panel("Acquisition"){
					@PanelHtmlRow{Station}{
						<a href="@station.org.self.uri">@station.name</a>
					}
					@for(interval <- acquisition.interval){
						@PanelRow("Start time (UTC)", interval.start.getDateTimeStr)
						@PanelRow("Stop time (UTC)", interval.stop.getDateTimeStr)
					}
				}
			}

			@for(production <- dobj.production){
				@Panel("Production"){
					@resourcePanelRow("Created by", production.creator)
					@for(contributor <- production.contributors){
						@resourcePanelRow("Contributor", contributor)
					}
					@for(host <- production.host){
						@resourcePanelRow("Host organization", host.self)
					}
					@PanelRow("Data level", dobj.specification.dataLevel.toString)
					@PanelRow("Production dateTime (UTC)", production.dateTime.getDateTimeStr)
					@for(comment <- production.comment){
						@PanelRow("Comment", comment)
					}
				}
			}

			@Panel("Submission"){
				@resourcePanelRow("Submitted by", dobj.submission.submitter.self)
				@PanelRow("Submission started (UTC)", dobj.submission.start.getDateTimeStr)
				@PanelRow("Submission ended (UTC)", dobj.submission.stop.getDateTimeStr)
			}
		</div>

		<div class="row">
			@Panel("Spatial coverage", 5){
				@if(!dobj.coverage.isDefined) {
					@PanelRow("Coverage", "unknown")
				}

				@for(coverage <- dobj.coverage; geoJson = coverage.geoJson){
					<iframe src="/station/?theme=@theme&coverage=@geoJson"></iframe>
				}
			}
		</div>

<!--
		<div class="row">
			<div class="col-md-12">
				<label>Debug</label>
				<pre>@printToJson(dobj)</pre>
			</div>
		</div>
-->
	</div>
}

@pageTitle = @{
	dobj.affiliation match {
		case Icos => {
			"ICOS RI Data Object Landing Page"
		}
		case _ => {
			"Carbon Portal Data Object Landing Page"
		}
	}
}

@affiliationInfo(aff: DataAffiliation) = {
	@aff match {
		case Icos => {
			<span><strong>Official ICOS data</strong></span>
		}
		case OrgAffiliation(org) => {
			@resourceLink(org)
		}
	}
}

@resourceLink(res: UriResource) = {
	<a href=@{res.uri.toString}>@{res.label.getOrElse(res.uri.toString)}</a>
}

@resourcePanelRow(label: String, res: UriResource) = {
	@PanelHtmlRow{@label}{
		@resourceLink(res)
	}
}

@theme = @{dobj.theme.toString}
@uploadComplete = @{dobj.submission.stop.isDefined}
@summaryStyleContext = @{if(uploadComplete) "success" else "warning"}

@accessUrlRow = {
	@PanelHtmlRow{Access URL}{
		<span>
			@dobj.accessUrl match {
				case Some(url) => {
					<a target="_blank" href="@url">@{dobj.fileName.getOrElse(url.toString)}</a>
				}
				case None => {
					<span>Not available</span>
				}
			}
		</span>
	}
}
