@import se.lu.nateko.cp.cpauth.core.PublicAuthConfig
@import landpagesnips._
@import eu.icoscp.envri.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig

@(pageTitle: String)(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage(pageTitle, Some(pageTitle), bootstrapJavascript = true){
	<script src="https://static.icos-cp.eu/constant/react/0.13.3/react.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/reflux/0.2.7/reflux.min.js"></script>
	<!--[if IE]>
	<script src="https://static.icos-cp.eu/constant/ajax/es6-promise/2.1.1/es6-promise.min.js"></script>
	<![endif]-->
	<script src="https://static.icos-cp.eu/constant/underscore.js/1.8.3/underscore-min.js"></script>

	<style>
		#main{
			padding-top: 10px;
		}
		.cp-lnk:hover{
			cursor: pointer;
		}
		.dropdown-toggle::after {
			display: none;
		}
	</style>

	<div id="main"></div>
	<script src="metaentry.js"></script>
}
