@import views.CpMenuItem
@import se.lu.nateko.cp.meta.core.data.Envri

@(title: String, header: String, envri: Envri.Value, menu: Seq[CpMenuItem] = Nil)(body: Html)
@template(envri){
	<style type="text/css">
		.col-md-12 > label::after {
			content: ":";
		}
		iframe {
			border:solid 1px #ddd;
			width:100%;
			height:400px;
		}
	</style>
}{
	<div class="page-header">
		<h1>@header</h1>
	</div>
	@body
}


@template(envri: Envri.Value) = @{
	if(envri == Envri.SITES) SitesPage(title) _ else CpCommonPage(title, menu) _
}
