@import se.lu.nateko.cp.meta.core.data.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import landpagesnips._

@(query: Option[String] = None)(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage(pageTitle, Some(pageTitle), extraMetaTags = Some(extraMetaTags), subHeading = pageSubtitle){
	<div class="row">
		<div class="col-lg-7">
			<div id="yasqe"></div>
			<input id="hiddenQuery" type="hidden" value="@{query.getOrElse("")}" />
		</div>

		<div class="col-lg-5">
			<div class="row">

				<div class="col-md-5">
					<label class="form-label">Select predefined request</label>
					<select id="selReqDdl" class="form-select">
						<option value="0">Select request</option>
					</select>
				</div>

				<div class="col-md-7">
					<label class="form-label">Return type</label>
					<div>
						<div id="returnTypeGrp" class="btn-group" role="group">
							<button type="button" class="btn btn-outline-secondary">JSON</button>
							<button type="button" class="btn btn-outline-secondary">CSV</button>
							<button type="button" class="btn btn-outline-secondary">XML</button>
							<button type="button" class="btn btn-outline-secondary">TSV or Turtle</button>
						</div>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col" style="margin-top: 10px;">
					<button id="copyTxtBtn" class="btn btn-primary">Select result</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<span id="statusSpan"></span>
					<br>
					<span id="messSpan"></span>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card bg-light">
				<div class="card-body">
					<pre id="result"></pre>
				</div>
			</div>
		</div>
	</div>
}

@extraMetaTags = {
	<script src="https://static.icos-cp.eu/constant/jquery/1.11.2/jquery.min.js"></script>
	<script src="sparqlclient.js"></script>
	<script src="https://static.icos-cp.eu/constant/yasqe/4.1.3/yasqe.min.js"></script>
	<link href="https://static.icos-cp.eu/constant/yasqe/4.1.3/yasqe.min.css" rel="stylesheet" />

	<style>
		#queryTA{resize: vertical;}
		.string { color: green; }
		.number { color: darkorange; }
		.boolean { color: blue; }
		.null { color: magenta; }
		.key { color: red; }
		.row{margin-bottom: 5px;}
	</style>
}

@pageTitle = @{
	envri match {
		case Envri.SITES => "SITES SPARQL Client"
		case _ => "Carbon Portal SPARQL Client"
	}
}

@pageSubtitle = @{
	envri match {
		case Envri.SITES => None
		case _ => Some("Access to SPARQL endpoint")
	}
}
