@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import java.net.URI
@import se.lu.nateko.cp.viewscore.CpMenu

@(stationOpt: Option[Station])(implicit envri: Envri.Value)
@{
	stationOpt match {
		case Some(station) => {
			stationTemplate(station)
		}
		case None => {
			<div>No such station!</div>
		}
	}
}

@stationTemplate(station: Station) = {
	@ServerSidePage(station.name, station.name, envri, CpMenu.landingPage){
		<div class="container-fluid">
			<div class="row">
			</div>
		</div>
	}
}