@import se.lu.nateko.cp.cpauth.core.PublicAuthConfig
@import se.lu.nateko.cp.meta.core.data.Envri
@import Envri.Envri

@(devVersion: Boolean, envri: Envri, authConf: PublicAuthConfig)
@ServerSidePage("Data upload", "Data upload", envri, cpauthHostOpt = Some(authConf.authHost)){
	<style type="text/css">
	.form {
		display: none;
		margin: 0 auto 2vh;
		max-width: 400px;
		padding: 0 2em 2em;
	}
	.form h2 {
		font-size: 24px;
		border-bottom: 1px solid #eee;
	}
	section {
		margin-bottom: 2em;
	}
	.form-element {
		display: block;
	}
	select {
		width: 100%;
	}
	.login-block {
		display: none;
		text-align: center;
		margin: 5vh 0;
	}
	#submitbutton {
		margin-top: 2vh;
		pointer-events: auto;
	}
	</style>

	<div id="main" class="container-fluid">
		<div id="alert-placeholder"></div>
		<form id="form-block" class="form panel panel-default">
			<section>
				<h2>Data</h2>
				<div class="form-group">
					<label for="fileinput">File</label>
					<input id="fileinput" type="file" placeholder="Select file for upload">
				</div>
				<div class="form-group">
					<label for="level-radio">Level</label>
					<div>
						<div id="level-radio">
							<label class="radio-inline">
								<input type="radio" name="level" value="0" class="js-level">
								0
							</label>
							<label class="radio-inline">
								<input type="radio" name="level" value="1" class="js-level">
								1
							</label>
							<label class="radio-inline">
								<input type="radio" name="level" value="2" class="js-level">
								2
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label>Previous version of this file <em class="text-muted">- optional</em></label>
					<input type="text" id="previoushash" class="form-element form-control" placeholder="hashsum">
				</div>
				<div class="form-group">
					<label for="objspecselect">Data type</label>
					<select id="objspecselect" class="form-element" disabled></select>
				</div>
				<div class="form-group">
					<label>Number of rows <em class="text-muted">- optional</em></label>
					<input id="nrows" type="text" class="form-element form-control" min="0" disabled>
				</div>
			</section>
			<section>
				<h2>Submitter</h2>
				<div class="form-group">
					<label for="submitteridselect">Submitter ID</label>
					<select id="submitteridselect" class="form-element"></select>
				</div>
			</section>
			<section>
				<h2>Acquisition</h2>
				<div class="form-group">
					<label for="stationselect">Station</label>
					<select id="stationselect" class="form-element" disabled></select>
				</div>
				<div class="form-group">
					<label for="acqstartinput">From (UTC)</label>
					<input id="acqstartinput" type="text" placeholder="YYYY-MM-dd'T'HH:mm:ss'Z'" class="form-element form-control" disabled>
				</div>
				<div class="form-group">
					<label for="acqstopinput">To (UTC)</label>
					<input id="acqstopinput" type="text" placeholder="YYYY-MM-dd'T'HH:mm:ss'Z'" class="form-element form-control" disabled>
				</div>
				<div class="form-group">
					<label for="sampleheight">Sampling height (m) <em class="text-muted">- optional</em></label>
					<input id="sampleheight" type="text" class="form-element form-control">
				</div>
				<div class="form-group">
					<label for="instrumenturi">Instrument (URL) <em class="text-muted">- optional</em></label>
					<input id="instrumenturi" type="text" class="form-element form-control">
				</div>
			</section>
			<button id="submitbutton" type="button" class="btn btn-primary btn-submit form-control">Upload</button>
		</form>
		<div id="login-block" class="login-block">
			<h2>Log in to upload data</h2>
			<p>Authorized users can upload data to the portal.</p>
			<a id="login-button" class="btn btn-primary">Login</a>
		</div>
		<noscript>
			<div id="javascript-error-block" class="javascript-error-block">Please enable javascript to use this page.</div>
		</noscript>
	</div>
	<script src=@jspath></script>
}

@jspath = @{
	if(devVersion) "uploadgui-fastopt.js" else "uploadgui-opt.js"
}
