@import se.lu.nateko.cp.meta.core.data.UriResource
@import eu.icoscp.envri.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig
@import se.lu.nateko.cp.meta.views._
@import landpagesnips._

@(info: ResourceViewInfo)(implicit envri: Envri, conf: EnvriConfig)
@ServerSidePage("Metadata Entity Page", Some(info.res.label.getOrElse(info.res.uri.toString))){
	<div class="row gy-2">
		<div class="col-md-8">
			<div class="row gy-2">
				@property("URI", info.res.uri.toString)
				@for(label <- info.res.label) {
					@property("Label", label)
				}
				@for(comment <- info.res.comments) {
					@property("Comment", comment)
				}
				@for((rdfType, idx) <- info.types.zipWithIndex){
					@htmlProperty{
						@if(info.types.size > 1){
							@{"Type " + (idx + 1)}
						} else {Type}
					}{
						@resourceLink(rdfType)
					}
				}
				<h2 class="fs-3 mt-5">Property values</h2>
				@for((prop, value) <- info.propValues){
					@htmlProperty{
						@resourceLink(prop)
					}{
						@value match {
							case Left(objValue) => {
								@resourceLink(objValue)
							}
							case Right(litValue) => {
								@litValue
							}
						}
					}
				}
			</div>
		</div>

		<div class="col-md-12">
			<div class="row gy-2">
				<h2 class="fs-3 mt-5">Usages of this resource by others</h2>
				@for((subject, prop) <- info.usage){
					<div class="col-md-12">
						<label class="fw-bold">@resourceLink(subject)</label>
						<span>@resourceLink(prop)</span>
					</div>
				}
			</div>
		</div>
	</div>
}
