#Node specific
node_modules
npm-debug.log

# sbt specific
target/
lib/
project/project/
project/target/

# Scala-IDE specific
.project
.settings/
.classpath

#Sublime
*.sublime-project
*.sublime-workspace

#Miscellaneous
nohup.out

#Front end
src/main/resources/www/bundle.js

