/webbapps/station-map/queries.txt
/webbapps/station-map/test.html
/webbapps/station-map/sparql.html
/webbapps/station-map/table.js
/webbapps/station-map/table.html

#Node specific
node_modules
npm-debug.log

# sbt specific
/target/
/core/target/
/views/target/
/lib/
/project/project/
/project/target/
/views/target
/jobAd/target
/jobAd/src/main/js

# Scala-IDE specific
.project
.settings/
.classpath
.cache-tests
.cache-main
/.idea
/bin/
/core/bin/
/views/bin/
/jobAd/bin/

#Sublime
*.sublime-project
*.sublime-workspace

#Miscellaneous
/src/main/resources/owl/catalog-v001.xml
nohup.out
*.*~

#Front end
/src/main/resources/www/sparqlclient.js
/src/main/resources/www/metaentry.js
/src/main/resources/www/labeling.js

/webbapps/station-map/local-config.json

#Environment-specific config
/application.conf

#Local file storage
/fileStorage/
