/webbapps/station-map/table.js
/webbapps/station-map/table.html
#Node specific
node_modules
npm-debug.log

# sbt specific
/target/
/lib/
/project/project/
/project/target/

# Scala-IDE specific
.project
.settings/
.classpath
.cache-tests
.cache-main
/.idea

#Sublime
*.sublime-project
*.sublime-workspace

#Miscellaneous
nohup.out
*.*~

#Front end
src/main/resources/www/*.js

#Environment-specific config
/application.conf

#Local file storage
/fileStorage/
