<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="se.lu.nateko.cp.meta.HttpApiEtagWarningFilter"/>
		<encoder>
			<pattern>%date{ISO8601} %-5level [%logger{0}] [%thread] %X{akkaSource} - %msg %replace(%kvp{}){'(.+)', '[$1]'}%n</pattern>
		</encoder>
	</appender>

	<appender name="SENTRY" class="io.sentry.logback.SentryAppender">
		<minimumEventLevel>ERROR</minimumEventLevel>
		<minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
	</appender>

	<appender name="SPARQL_QUERY" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${SPARQL_QUERY_LOG_FILE:-sparql-query.log}</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${SPARQL_QUERY_LOG_FILE:-sparql-query.log}.%d{yyyy-MM-dd}.gz</fileNamePattern>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{ISO8601} %-5level [%logger] [%thread] - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SENTRY" />
	</root>

	<logger name="org.semanticweb.owlapi.rdf.rdfxml.parser.OWLRDFConsumer" level="WARN" />
	<logger name="se.lu.nateko.cp.meta.sparql.queries" level="INFO" additivity="false">
		<appender-ref ref="SPARQL_QUERY" />
	</logger>

</configuration>
