<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="se.lu.nateko.cp.meta.HttpApiEtagWarningFilter"/>
		<encoder>
			<pattern>[%level] %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
