<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="se.lu.nateko.cp.meta.HttpApiEtagWarningFilter"/>
		<encoder>
			<pattern>%date{ISO8601} %-5level [%logger{0}] [%thread] %X{akkaSource} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="org.semanticweb.owlapi.rdf.rdfxml.parser.OWLRDFConsumer" level="WARN" />

</configuration>
