@import se.lu.nateko.cp.doi.DoiMeta
@import se.lu.nateko.cp.doi.meta.Person
@import se.lu.nateko.cp.doi.meta.Rights
@import se.lu.nateko.cp.meta.views.LandingPageHelpers.getDoiPersonUrl

@(doiMeta: DoiMeta)
@for(descr <- doiMeta.descriptions){
	@property(s"Description (${descr.descriptionType})", descr.description)
}
@if(doiMeta.creators.length > 0){
	@htmlProperty{Data creators}(personList(doiMeta.creators))
}
@if(doiMeta.contributors.length > 0){
	@htmlProperty{Contributors}(personList(doiMeta.contributors))
}
@for(pubYear <- doiMeta.publicationYear){
	@property("Publication Year", pubYear.toString)
}
@for(publisher <-doiMeta.publisher){
	@property("Publisher", publisher)
}
@if(doiMeta.subjects.length> 0){
	@property("Subjects", doiMeta.subjects.map(_.subject).mkString(", "))
}
@for(rights <- doiMeta.rightsList){
	@if(rights.length > 0){
		@htmlProperty{Licenses}(rightsList(rights))
	}
}

@rightsList(licenses: Iterable[Rights]) = {
	@for((lic, i) <- licenses.zipWithIndex){
		@optionalLink(lic.rightsUri){
			<span>@{lic.rights.toString + (if i < (licenses.size - 1) then "," else "")}</span>
		}
	}
}

@personList(persons: Iterable[Person]) = {
	@for((person, i) <- persons.zipWithIndex){
		@optionalLink(getDoiPersonUrl(person)){
			<span>@{person.name.toString + (if i < (persons.size - 1) then "," else "")}</span>
		}
	}
}

@optionalLink(urlOpt: Option[String])(inner: Html) = {
	@for(url <- urlOpt){
		<a href=@url>@inner</a>
	}
	@if(urlOpt.isEmpty){
		@inner
	}
}