@import se.lu.nateko.cp.meta.core.data.LinkBox

@(linkBoxes:  Seq[LinkBox])
<div class="container-fluid" style="max-width: 1200px; padding: 0 15px;">
	<div class="row my-5">
	@for(linkBox <- linkBoxes){
		<div class="col-md-4 position-relative">
			<a href="@linkBox.target">
				<div class="link-box-image">
					<img src=@linkBox.coverImage class="img-fluid w-100" style="height: 230px; object-fit: cover; border-bottom: 5px solid var(--icos-magenta);">
					<div class="link-box-title position-absolute bottom-0 text-white m-3 fs-4 fw-bold">@linkBox.name</div>
				</div>
			</a>
		</div>
	}
	</div>
</div>