@import se.lu.nateko.cp.meta.core.data.LinkBox

@(linkBoxes:  Seq[LinkBox])
<div class="container-xl">
	<div class="row my-5">
	@for(linkBox <- linkBoxes){
		<div class="col-md-4 mb-5">
			<div class="mb-3">
				<a href="@linkBox.target" tabindex="-1">
					<img src=@linkBox.coverImage class="img-fluid w-100" style="width: 100%; object-fit: cover; aspect-ratio: 16/9; border-radius: 0.4rem;">
				</a>
			</div>
			<div>
				<h3 class="h6">
					<a href="@linkBox.target" class="text-dark text-decoration-none" tabindex="-1">@linkBox.name</a>
				</h3>
				<a href="@linkBox.target" class="btn btn-outline-primary fw-semibold rounded-5">
					Learn more
				</a>
			</div>
		</div>
	}
	</div>
</div>
