@import java.net.URI
@import se.lu.nateko.cp.meta.core.data.CitableItem

@(item: CitableItem, itemType: String)
@for(nextUri <- item.nextVersion) {
	@alertWarning(s"$itemType is deprecated"){
		<ul>
			<li>@versionLink(nextUri, "Next version")</li>
			<li>@versionLink(item.latestVersion, "Latest version")</li>
		</ul>
	}
}


@singleVersionLink(uri: URI, label: String) = {
	<a class="alert-link" href=@{uri.getRawPath}>@label</a>
}

@multipleVersionLinks(uris: Seq[URI], label: String) = {
	@uris.map{uri => @singleVersionLink(uri, label) }
}

@versionLink(versions: Either[URI, Seq[URI]], label: String) = {
	@versions match {
		case Left(uri) => { @singleVersionLink(uri, label) }
		case Right(uris) => { @multipleVersionLinks(uris, label) }
	}
}
