@import java.net.URI
@import se.lu.nateko.cp.meta.core.data.CitableItem

@(item: CitableItem, itemType: String)
	<h4 class="alert-heading">@itemType is deprecated</h4>
	@item.nextVersion match {
		case Some(nextUri) => {
			<ul>
				@if(nextUri != item.latestVersion){
					<li>@versionLink(nextUri, "Next version")</li>
				}
				<li>@versionLink(item.latestVersion, "Latest version")</li>
			</ul>
		}
		case _ => {
			"not available"
		}
	}

@versionLink(uri: URI, label: String) = {
	<a class="alert-link" href=@{uri.getRawPath}>@label</a>
}
