@import java.net.URI
@import se.lu.nateko.cp.meta.core.data.CitableItem

@(item: CitableItem, itemType: String)
@for(nextUri <- item.nextVersion) {
	@alertWarning(s"$itemType is deprecated"){
		<ul>
			@if(nextUri != item.latestVersion){
				<li>Next version(s): @versionLink(nextUri)</li>
			}
			<li>Latest version(s): @versionLink(item.latestVersion)</li>
		</ul>
	}
}

@singleVersionLink(uri: URI) = {
	<a class="alert-link" href=@{uri.getRawPath}>@{uri.toString.split("/").last}</a>
}

@multipleVersionLinks(uris: Seq[URI]) = {
	@for((uri, i) <- uris.zipWithIndex){
		@singleVersionLink(uri) @if(i < (uris.size - 1)){,}
	}
}

@versionLink(versions: Either[URI, Seq[URI]]) = {
	@versions match {
		case Left(uri) => { @singleVersionLink(uri) }
		case Right(uris) => { @multipleVersionLinks(uris) }
	}
}
