@import se.lu.nateko.cp.meta.api.OrganizationExtra
@import se.lu.nateko.cp.meta.core.data.EnvriConfig

@(orgExt: OrganizationExtra[AnyRef])(implicit conf: EnvriConfig)
@if(orgExt.staff.isEmpty) {} else {
	<h2 class="fs-3 mt-5">Current staff</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Role (ICOS vocabulary)</th>
				<th>Start date</th>
			</tr>
		</thead>
		<tbody>
			@for(memb <- orgExt.currentStaff){
				<tr>
					<td>@agentLink(memb.person)</td>
					<td>@resourceLink(memb.role.role)</td>
					<td>@(memb.role.start.fold("")(_.toString.take(10)))</td>
				</tr>
			}
		</tbody>
	</table>
	@if(orgExt.formerStaff.isEmpty) {} else {
		<h2 class="fs-3 mt-5">Former staff</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Role (ICOS vocabulary)</th>
					<th>Start date</th>
					<th>End date</th>
				</tr>
			</thead>
			<tbody>
				@for(memb <- orgExt.formerStaff){
					<tr>
						<td>@agentLink(memb.person)</td>
						<td>@resourceLink(memb.role.role)</td>
						<td>@(memb.role.start.fold("")(_.toString.take(10)))</td>
						<td>@(memb.role.end.fold("")(_.toString.take(10)))</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
