@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.utils.*
@import java.time.Instant

@(dobj: DataObject)(implicit conf: EnvriConfig)
<details>
	<summary class="d-inline-block">
		<span id="zipcontentsexpander" class="btn-link" style="cursor:pointer; color: var(--bs-link-color);">View contents</span>
	</summary>
	<div>
		<div class="card bg-light t-0">
			<div class="card-body t-0">
				<pre id="zipcontentscard" class="user-select-all m-0"><table id="zipcontents" class="table table-borderless table-sm">
						<tr>
							<th>File</th>
							<th>Size</th>
							<th></th>
						</tr>
						<tbody id="zipcontentstablebody">
							<tr>
								<td>Loading...</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table></pre>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function zipContentsPresenter() {
			const expander = document.getElementById("zipcontentsexpander")

			const formatBytes = (bytes, decimals = 2) => {
				if (isNaN(bytes)) return ""
				if (bytes === 0) return '0 Bytes'

				const k = 1024,
					sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
					i = Math.floor(Math.log(bytes) / Math.log(k))
				return parseFloat((bytes / Math.pow(k, i)).toFixed(decimals)) + ' ' + sizes[i]
			}

			const getTableRow = (name, size, path) => {
				return '<tr><td>' + name + '</td><td>' + size + '</td><td><a href=' + path + '>' + "Download" + '</a></td></tr>'
			}

			let firstRender = true

			expander.addEventListener("click", async _ => {
				try {
					expander.innerHTML = expander.innerHTML == "Hide contents" ? "View contents" : "Hide contents"
					
					if (!firstRender) return

					firstRender = false

					const dataHost = "@conf.dataHost"
					const hash = "@dobj.hash"

					const resp = await fetch(`https://${dataHost}/zip/${encodeURIComponent(hash)}/listContents`, { method: 'get' })
					const json = await resp.json()

					document.getElementById("zipcontentstablebody").innerHTML = json.map(file => {
							const fullPath = `https://${dataHost}${file.path}`
							return getTableRow(file.name, formatBytes(file.size), fullPath)
						}).join("")
				} catch (err) {
					document.getElementById("zipcontentscard").innerHTML = `Error: ${err.message}`
					console.error({zipContentsListingError: err})
				}
			})
		}

		zipContentsPresenter()
	</script>
</details>
