@import se.lu.nateko.cp.meta.core.data._
@import se.lu.nateko.cp.meta.utils.*
@import java.time.Instant

@(dobj: StaticObject)(implicit conf: EnvriConfig)
<details>
	<summary class="d-inline-block">
		<span id="zipcontentsexpander" class="btn-link" style="cursor:pointer; color: var(--bs-link-color);">@viewMessage</span>
	</summary>
	<div class="card bg-light m-0">
		<div class="card-body m-0" style="max-height: 30rem; overflow-y: scroll;">
			<pre id="zipcontentscard" class="m-0" style="white-space: normal;">
				<table class="table table-borderless table-sm">
					<thead>
						<tr>
							<th>File</th>
							<th class="text-end">Size</th>
							<th></th>
						</tr>
					</thead>
					<tbody id="zipcontentstablebody">
						<tr><td>Loading...</td></tr>
					</tbody>
				</table>
			</pre>
		</div>
	</div>
	<script type="text/javascript">
		(function(){
			const expander = document.getElementById("zipcontentsexpander")
			const dataHost = "@conf.dataHost"
			const hash = "@dobj.hash.id"
			let firstRender = true

			function formatBytes(bytes, decimals = 2){
				if (isNaN(bytes)) return ""
				if (bytes === 0) return '0 Bytes'

				const k = 1024,
					sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
					i = Math.floor(Math.log(bytes) / Math.log(k))
				return parseFloat((bytes / Math.pow(k, i)).toFixed(decimals)) + ' ' + sizes[i]
			}

			function parseJson(resp){
				if(resp.status == 200) return resp.json()
				return resp.text().then(errMsg => Promise.reject(new Error(errMsg)))
			}

			expander.addEventListener("click", _ => {
				expander.innerHTML = expander.innerHTML == "@hideMessage" ? "@viewMessage" : "@hideMessage"

				if (!firstRender) return
				firstRender = false

				fetch(`https://${dataHost}/zip/${hash}/listContents`)
					.then(parseJson)
					.then(
						json => {
							const tableBodyHtml = json.map(file => {
								let splitName = file.name.split('/')
								let shortenedPath = ""
								for (i = 0; i < splitName.length - 1; i++) {
									shortenedPath = `<i class="fas fa-folder-open" title="${splitName[i]}"></i><span class="mx-2 user-select-none"">/</span>`
								}
								return (`<tr>
									<td title=${file.name}>${shortenedPath + splitName.pop()}</td>
									<td class="text-nowrap text-end">${formatBytes(file.size)}</td>
									<td class="text-nowrap ps-3 user-select-none text-end"><a href='https://${dataHost}${file.path}'>Download</a></td>
								</tr>`)
							}).join("\n")
							document.getElementById("zipcontentstablebody").innerHTML = tableBodyHtml
						},
						err => {
							document.getElementById("zipcontentscard").innerHTML = `Error: ${err.message}`
							console.error("ZIP contents fetching/listing error", err)
						}
					)
			})
		})()
	</script>
</details>

@viewMessage = @{"View contents"}
@hideMessage = @{"Hide contents"}