@import se.lu.nateko.cp.meta.core.data._
@import LandingPageHelpers._

@(dobj: DataObject)
<DOCTYPE html>
<html>
<head>
	<link href="https://static.icos-cp.eu/constant/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="shortcut icon" type="image/png" href="https://static.icos-cp.eu/images/favicon.png"/>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Landing Page</title>

	<style type="text/css">
		.navbar-default {
			background-color: #414042;
			border-color: #414042;
		}
		.navbar-default span, .navbar-default p, .navbar-default h1 {
			color: #ffffff;
		}
		.cp-header-incomplete {background-color: #f7cc43 !important;}
		.cp-header-ok {background-color: #78d578 !important;}
		.col-md-12 > label::after{
			content: ":";
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="https://www.icos-ri.eu">
					<img alt="Carbon Portal" src="https://static.icos-cp.eu/images/Icos_Logo_RGB_White_Carbon_Portal_80px.png">
				</a>
			</div>
			<h1>ICOS RI Data Object Landing Page</h1>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row">
			@summaryPanel()
		</div>

		<div class="row">

			@panel("Production"){
				@panelRow("Produced by", dobj.production.producer.getLabel)
				@panelRow("Data level", dobj.specification.dataLevel.toString)
				@panelRow("Production started (UTC)", dobj.production.start.getDateTimeStr)
				@panelRow("Production ended (UTC)", dobj.production.stop.getDateTimeStr)
			}

			@panel("Submission"){
				@panelRow("Submitted by", dobj.submission.submitter.getLabel)
				@panelRow("Submission started (UTC)", dobj.submission.start.getDateTimeStr)
				@panelRow("Submission ended (UTC)", dobj.submission.stop.getDateTimeStr)
			}
		</div>

		<div class="row">
			@panel("Content", 6){
				@panelRow("Format", dobj.specification.format.getLabel)
				@panelRow("Encoding", dobj.specification.encoding.getLabel)
				@panelRow("SHA-256 hashsum (hex)", dobj.hash.hex.toLowerCase)
				@panelRow("SHA-256 hashsum (base64)", dobj.hash.base64)
				@if(dobj.status == UploadOk) {
					@panelRowHtml("Access URL", accessLink)
				}
			}
		</div>

		<div class="row">
			@panel("Coverage", 5){
				<iframe src="https://static.icos-cp.eu/share/stations/" style="width:100%;height:400px;"></iframe>
			}
		</div>

		<div class="row">
			<div class="col-md-12">
				<label>Debug</label>
				<pre>@printToJson(dobj)</pre>
			</div>
		</div>
	</div>
</body>
</html>

@summaryPanel(width: Int = 4) = {
	<div class="col-md-@width">
		<div class="panel panel-default">
			<div class="panel-heading cp-header-@headingClass">
				<h3 class="panel-title">Summary</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
					@{dobj.status match {
						case NotComplete => {
							panelRow("Status - Not complete", "Metadata uploaded. Data not uploaded. No PID assigned.")
						}
						case UploadOk => {
							panelRow("Status - OK", "Data and metadata are complete")
							panelRow("PID", dobj.pid.get)
						}
						case _ => {
							panelRow("Status - Unknown", "Status of data object could not be determined.")
						}
					}}
					</div>
				</div>
			</div>
		</div>
	</div>
}

@headingClass = @{
	dobj.status match {
		case UploadOk => "ok"
		case NotComplete => "incomplete"
	}
}

@panel(title: String, width: Int = 3)(body: Html) = {
	<div class="col-md-@width">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@title</h3>
			</div>
			<div class="panel-body">
			@body
			</div>
		</div>
	</div>
}

@panelRow(label: String, value: String) = {
	<div class="row">
		<div class="col-md-12">
			<label>@label</label>
			@value
		</div>
	</div>
}

@panelRowHtml(label: String, value: Html) = {
	<div class="row">
		<div class="col-md-12">
			<label>@label</label>
			@value
		</div>
	</div>
}

@accessLink = {
	<a href="@dobj.accessUrl">@{dobj.fileName.getOrElse(dobj.accessUrl.toString)}</a>
}
