@import se.lu.nateko.cp.meta.core.data._
@import LandingPageHelpers._

@(dobj: DataObject)
@PageTemplate("Landing Page", "ICOS RI Data Object Landing Page"){
	<div class="container-fluid">

		<div class="row">
			@Panel("Summary", 4, summaryStyleContext){
				@if(uploadComplete) {
					@PanelRow("Status - OK", "Data and metadata are complete.")
					@PanelRow("PID", dobj.pid.getOrElse("Not assigned"))
					@accessUrlRow
				} else {
					@PanelRow("Status - Not complete", "Metadata uploaded. Data not uploaded. No PID assigned.")
				}
			}
		</div>

		<div class="row">

			@Panel("Production"){
				@PanelRow("Produced by", dobj.production.producer.label)
				@PanelRow("Data level", dobj.specification.dataLevel.toString)
				@PanelRow("Production started (UTC)", prodStart)
				@PanelRow("Production ended (UTC)", prodStop)
			}

			@Panel("Submission"){
				@PanelRow("Submitted by", dobj.submission.submitter.getLabel)
				@PanelRow("Submission started (UTC)", dobj.submission.start.getDateTimeStr)
				@PanelRow("Submission ended (UTC)", dobj.submission.stop.getDateTimeStr)
			}
		</div>

		<div class="row">
			@Panel("Content", 6){
				@for(fname <- dobj.fileName){
					@PanelRow("File name", fname)
				}
				@PanelRow("Format", dobj.specification.format.getLabel)
				@PanelRow("Encoding", dobj.specification.encoding.getLabel)
				@PanelRow("SHA-256 hashsum (hex)", dobj.hash.hex.toLowerCase)
				@PanelRow("SHA-256 hashsum (base64)", dobj.hash.base64)
				@if(uploadComplete) {
					@accessUrlRow
				}
			}
		</div>

		<div class="row">
			@Panel("Coverage", 5){
				@if(!coverage.isDefined) {
					@PanelRow("Latitude (WGS 84)", lat)
					@PanelRow("Longitude (WGS 84)", lon)
				}
				
				@if(pos.isDefined) {
					<iframe src="/station/?theme=@theme&lat=@lat&lon=@lon"></iframe>
				} else {
					@if(coverage.isDefined){
						@PanelRow("Coverage (WGS 84)", coverage.get)
						<iframe src="/station/?theme=@theme&coverage=@coverage"></iframe>
					}
				}
			}
		</div>

		<div class="row">
			<div class="col-md-12">
				<label>Debug</label>
				<pre>@printToJson(dobj)</pre>
			</div>
		</div>
	</div>
}

@prodStart = @{dobj.production.timeInterval.map(_.start.getDateTimeStr).getOrElse("Unknown")}
@prodStop = @{dobj.production.timeInterval.map(_.stop.getDateTimeStr).getOrElse("Unknown")}
@pos = @{dobj.production.producer.pos}
@coverage = @{dobj.production.producer.coverage}
@theme = @{dobj.production.producer.theme.toString}
@lat = @{pos.map(_.lat.toString).getOrElse("Unknown")}
@lon = @{pos.map(_.lon.toString).getOrElse("Unknown")}
@uploadComplete = @{dobj.submission.stop.isDefined}
@summaryStyleContext = @{if(uploadComplete) "success" else "warning"}

@accessUrlRow = {
	@PanelHtmlRow{Access URL}{
		<span>
			@dobj.accessUrl match {
				case Some(url) => {
					<a href="@url">@{dobj.fileName.getOrElse(url.toString)}</a>
				}
				case None => {
					<span>Not available</span>
				}
			}
		</span>
	}
}
