@import se.lu.nateko.cp.meta.core.data._
@import LandingPageHelpers._

@(dobj: DataObject)
<DOCTYPE html>
<html>
<head>
	<link href="https://static.icos-cp.eu/constant/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="shortcut icon" type="image/png" href="https://static.icos-cp.eu/images/favicon.png"/>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Landing Page</title>

	<style type="text/css">
		.navbar-default {
			background-color: #414042;
			border-color: #414042;
		}
		.navbar-default span, .navbar-default p, .navbar-default h1 {
			color: #ffffff;
		}
		.col-md-12 > label::after {
			content: ":";
		}
		iframe {
			border:solid 1px #ddd;
			width:100%;
			height:400px;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="https://www.icos-ri.eu">
					<img alt="Carbon Portal" src="https://static.icos-cp.eu/images/Icos_Logo_RGB_White_Carbon_Portal_80px.png">
				</a>
			</div>
			<h1>ICOS RI Data Object Landing Page</h1>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="row">
			@panel("Summary", 4, summaryStyleContext){
				@summary
			}
		</div>

		<div class="row">

			@panel("Production"){
				@panelRow("Produced by", dobj.production.producer.label)
				@panelRow("Data level", dobj.specification.dataLevel.toString)
				@panelRow("Production started (UTC)", prodStart)
				@panelRow("Production ended (UTC)", prodStop)
			}

			@panel("Submission"){
				@panelRow("Submitted by", dobj.submission.submitter.getLabel)
				@panelRow("Submission started (UTC)", dobj.submission.start.getDateTimeStr)
				@panelRow("Submission ended (UTC)", dobj.submission.stop.getDateTimeStr)
			}
		</div>

		<div class="row">
			@panel("Content", 6){
				@panelRow("Format", dobj.specification.format.getLabel)
				@panelRow("Encoding", dobj.specification.encoding.getLabel)
				@panelRow("SHA-256 hashsum (hex)", dobj.hash.hex.toLowerCase)
				@panelRow("SHA-256 hashsum (base64)", dobj.hash.base64)
				@if(uploadComplete) {
					@panelRowHtml("Access URL", accessLink)
				}
			}
		</div>

		<div class="row">
			@panel("Coverage", 5){
				@if(!coverage.isDefined) {
					@panelRow("Latitude (WGS 84)", lat)
					@panelRow("Longitude (WGS 84)", lon)
				}
				
				@if(pos.isDefined) {
					<iframe src="/station/?theme=@theme&lat=@lat&lon=@lon"></iframe>
				} else {
					@if(coverage.isDefined){
						@panelRow("Coverage (WGS 84)", coverage.get)
						<iframe src="/station/?theme=@theme&coverage=@coverage"></iframe>
					}
				}
			}
		</div>

		<div class="row">
			<div class="col-md-12">
				<label>Debug</label>
				<pre>@printToJson(dobj)</pre>
			</div>
		</div>
	</div>
</body>
</html>

@prodStart = @{dobj.production.timeInterval.map(_.start.getDateTimeStr).getOrElse("Unknown")}
@prodStop = @{dobj.production.timeInterval.map(_.stop.getDateTimeStr).getOrElse("Unknown")}
@pos = @{dobj.production.producer.pos}
@coverage = @{dobj.production.producer.coverage}
@theme = @{dobj.production.producer.theme.toString}
@lat = @{pos.map(_.lat.toString).getOrElse("Unknown")}
@lon = @{pos.map(_.lon.toString).getOrElse("Unknown")}
@uploadComplete = @{dobj.submission.stop.isDefined}
@summaryStyleContext = @{if(uploadComplete) "success" else "warning"}

@summary = @{
	if(uploadComplete) {
		panelRow("Status - OK", "Data and metadata are complete.") ::
		panelRow("PID", dobj.pid.getOrElse("Not assigned")) ::
		panelRowHtml("Access URL", accessLink) :: Nil
	}
	else {
		panelRow("Status - Not complete", "Metadata uploaded. Data not uploaded. No PID assigned.")
	}
}

@panel(title: String, width: Int = 3, styleContext: String = "default")(body: Html) = {
	<div class="col-md-@width">
		<div class="panel panel-@styleContext">
			<div class="panel-heading">
				<h3 class="panel-title" style="color: #333">@title</h3>
			</div>
			<div class="panel-body">
			@body
			</div>
		</div>
	</div>
}

@panelRow(label: String, value: String) = {
	<div class="row">
		<div class="col-md-12">
			<label>@label</label>
			@value
		</div>
	</div>
}

@panelRowHtml(label: String, value: Html) = {
	<div class="row">
		<div class="col-md-12">
			<label>@label</label>
			@value
		</div>
	</div>
}

@accessLink = {
	<a href="@dobj.accessUrl">@{dobj.fileName.getOrElse(dobj.accessUrl.toString)}</a>
}
